# -------------------------------------------------------------------
# Source (PostgreSQL)

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=kuliah

# -------------------------------------------------------------------
# Destination (SQL Server)

ACCEPT_EULA="Y"
MSSQL_SA_PASSWORD="YourStrong@Passw0rd"
MSSQL_AGENT_ENABLED="true"

# -------------------------------------------------------------------
